.preview-panel{
    text-align: center;
    width: 50%;
    height:80%;
    margin-left:20%;
    margin-top:2%;
    margin-bottom: 5%;
    color: black;
    font-style: oblique;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    display: inline-block;
    padding: 3%;
}